<!--
  This component uses @tailwindcss/forms

  yarn add @tailwindcss/forms
  npm install @tailwindcss/forms

  plugins: [require('@tailwindcss/forms')]
-->
<div class="flex flex-col gap-6">
  <input type="text" placeholder="Username"
    class="w-full p-3 text-xl transition duration-300 bg-white border-2 rounded-xl focus:outline-none focus:border-pink-300 focus:ring focus:ring-pink-200 text-slate-500 placeholder:text-xl dark:text-slate-200 placeholder:text-slate-400 dark:placeholder:text-slate-400 border-slate-300 dark:focus:ring-pink-300 dark:bg-slate-600 dark:border-slate-500 dark:ring-slate-400" />

  <input type="text" placeholder="First Name"
    class="w-full p-3 text-xl transition duration-300 bg-white border-2 rounded-xl focus:outline-none text-slate-500 placeholder:text-xl focus:ring-0 dark:text-slate-200 dark:focus:bg-slate-400 dark:focus:placeholder:text-slate-600 dark:focus:border-slate-400 dark:focus:text-slate-900 placeholder:text-slate-400 dark:placeholder:text-slate-400 border-slate-300 focus:border-slate-800 focus:placeholder:text-slate-200 focus:bg-slate-800 focus:text-white dark:bg-slate-600 dark:border-slate-500 dark:ring-slate-400" />

  <input type="text" placeholder="Last Name"
    class="w-full p-3 text-xl transition duration-300 bg-white border-2 rounded-xl focus:outline-none text-slate-500 placeholder:text-xl focus:ring-0 dark:text-slate-200 placeholder:text-slate-400 dark:placeholder:text-slate-400 border-slate-300 focus:border-slate-200 dark:focus:border-slate-700 dark:focus:bg-slate-700 focus:placeholder:text-slate-400 focus:bg-slate-200 focus:text-slate-800 dark:bg-slate-600 dark:border-slate-500 dark:ring-slate-400" />
</div>